{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.scss.css') }}" />
{% endblock header %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light d-flex justify-content-around fixed-top">
    <a class="navbar-brand ml-lg-4" href="{{ url_for('home') }}">Kenzy</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="collapsibleNavId">
        <ul class="navbar-nav w-75 d-flex align-items-center justify-content-around mx-auto mt-2 mt-lg-0 ">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('home') }}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about') }}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {% if image_file %}
                    <img src="{{ image_file}}" alt="account" class="avatar">
                    {% else %}
                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {% if current_user.is_authenticated %}
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    <a class="dropdown-item" href="{{ url_for('account') }}">Account</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
                    <a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Carousel -->
<div id="carouselId" class="carousel slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='haaland.jfif')}}" alt="First slide" class="d-block w-100" />
            <div class="carousel-caption d-md-block">
                <h3>Trending and Popular</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quis modi eveniet facilis, quae
                    neque. Officia tempore mollitia laborum obcaecati, aut laudantium provident assumenda veniam
                    repellat tenetur veritatis commodi autem.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='background.jpg')}}" alt="Second slide" class="d-block w-100" />
            <div class="carousel-caption d-md-block">
                <h3> Lastest Blog</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero aut voluptatum eligendi, debitis,
                    consectetur ullam ratione, praesentium reiciendis delectus tempore facilis. Mollitia perspiciatis
                    cumque earum voluptatem. Vero doloremque quam assumenda!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='trump.jfif')}}" alt="Third slide" class="d-block w-100" />
            <div class="carousel-caption d-md-block">
                <h3>Informative</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam delectus ab quisquam culpa.
                    Reiciendis nesciunt, pariatur quas nam, eius voluptas quos tempora quaerat optio impedit vel
                    laboriosam quam adipisci nihil.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="about-us w-75 mx-auto">
    <h3 class="text-center ">About Us</h3>
    <p class="text-center text-muted mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, exercitationem.
        Sunt deleniti obcaecati, ducimus temporibus saepe iste assumenda eius molestiae, est perferendis possimus
        tenetur quibusdam, corporis nesciunt ea! Id, atque!
    </p>
    <p class="text-center text-muted mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, exercitationem.
        Sunt deleniti obcaecati, ducimus temporibus saepe iste assumenda eius molestiae, est perferendis possimus
        tenetur quibusdam, corporis nesciunt ea! Id, atque!
    </p>
    <p class="text-center text-muted mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, exercitationem.
        Sunt deleniti obcaecati, ducimus temporibus saepe iste assumenda eius molestiae, est perferendis possimus
        tenetur quibusdam, corporis nesciunt ea! Id, atque!
    </p>
    <p class="text-center text-muted mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, exercitationem.
        Sunt deleniti obcaecati, ducimus temporibus saepe iste assumenda eius molestiae, est perferendis possimus
        tenetur quibusdam, corporis nesciunt ea! Id, atque!
    </p>
</section>
{% endblock content %}