@import "./nav.scss";
@import "./variable.scss";


.carousel-item {
    img {
        height: 35rem;
    }
    .carousel-caption {
        h3 {
            color: rgb(8, 8, 245);
            text-transform: uppercase;
            font-weight: 500;
        }
        p {
            letter-spacing: 0.5px;
        }
    }
}

.about-us {
    h3 {
        color: $darken-blue;
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }
    p {
        color: $black;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 800px) {
    .about-us {
            h3 {
                color: $darken-blue;
                font-size: 1.1rem !important;
                text-transform: uppercase;
            }
    }
    .carousel-item {
        img {
            height: 25rem;
        }
        .carousel-caption {
            h3 {
                // color: $darken-blue;ks
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }
        
    }
}