@import "./nav.scss";

.carousel-item {
    img {
        height: 35rem;
    }
    .carousel-caption {
        h3 {
            color: #ce24ce;
            text-transform: uppercase;
        }
    }
}

.about-us {
    h3 {
        color: #ce24ce;
        text-transform: uppercase;
    }
}