@import "nav.scss";
@import "blog-post.scss";
@import "paginate.scss";
@import "variable.scss";

.background {
    background: $darken-blue;
    width: 100%;
    padding: 7rem;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.blog-img {
    height: 18rem;
    border-radius: inherit;
    border-bottom: 1px solid $darken-blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.blog-category {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.card {
    width: 92%;
    margin: auto;
    border: 1px solid $darken-blue;
    .card-title {
        color: $darken-blue;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        font-size: 1.3rem;
    }
    .card-text {
        flex: 2;
        font-size: 1rem;
        a {
            color: $darken-blue !important;
            text-decoration: none;
        }
    }
    .user-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .read-more {
        background: $darken-blue !important;
        color: #fff;
        border: none;
        outline: none;
        padding: 0.5rem 1.5rem;
        border-radius: 0.2rem;
        border-color: $darken-blue;
    }
}


@media(max-width: 870px) {
    .blog-img {
        height: 14rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        .card-title {
            color: $darken-blue;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
            font-size: 1.1rem;
        }
        .card-text {
            flex: 2;
            font-size: 0.9rem;
        }
        .blog-img {
            height: 14rem;
        }
    }
}