@import "variable.scss";

.nav-link{
    color: $grey ;
    font-weight: bold;
    &:hover {
        color: $dark-blue !important;
    }
}

.nav-item {
    height: 3rem;
}

.navbar {
    padding: 0 1rem;
}

.active > .nav-link {
    font-weight: bold;
    color: $dark-blue !important;
}

.nav-item.active {
    border-bottom: 3px solid $dark-blue;
}

.dropdown-menu {
    .active {
        font-weight: bold;
        color: $dark-blue !important;
    }
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.dropdown-item {
    color: $grey !important;
    font-weight: 600;
    background: #fff !important;
    &:hover {
        color: $dark-blue !important;
    }    
}

.navbar-toggler{
    border: none;
    &:focus {
        outline: 3px auto $dark-blue !important;
    }
}

.alert {
    margin-top: 6rem !important;
    z-index: 3;
}

@media (max-width: 768px) {
    .alert {
        width: 100%;
    }
    .nav-item.active {
        border: none;
    }
}