.nav-link{
    color: #ce24ce !important;
}

.active > .nav-link {
    font-weight: bold;
}

.navbar-toggler{
    border: none;
    &:focus {
        outline: 3px auto #ce24ce !important;
    }
}

.alert {
    margin-top: 6rem !important;
    z-index: 3;
}

@media (max-width: 768px) {
    .alert {
        width: 100%;
    }
}