body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: lightgray;

}

.register-section {
    width: 40%;
    padding: 2rem;
    border: 2px solid #ce24ce;
    border-radius: 0.6rem;
    legend {
        font-weight: bold;
        color: #ce24ce;
        text-align: center;
    }
    .form-group {
        width: 85%;
        margin: 1rem auto;
        input {
            border: 1px solid #ce24ce; 
        }
        .register-btn {
            background: #ce24ce;
            color: white;
            border-radius: 0.3rem;
            display: block;
            width: 100%;
        }
        p {
            a {
                color: #ce24ce;
                &:hover {
                    color: #ce24ce;
                }
            }
        }

    }
}

.alert {
    margin-top: 6rem !important;
    z-index: 3;
}


@media (max-width: 768px) {
    .alert {
        width: 100%;
    }

    .register-section {
        width: 100%;
        border: none; 
    }
} 