@import "./nav.scss";
@import "./blog-post.scss";
@import "./paginate.scss";
@import "variable.scss";

.media {
    margin: 7rem auto 2rem auto;
    width: 90%;
    justify-content: space-evenly;
    .img-user {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
    .media-body {
        padding-left: 3rem;
        letter-spacing: 2px;
        .about {
            color: $darken-blue;
            font-size: 1.1rem;
            text-align: center;
            font-weight: bold;
        }
        .fullname {
            font-weight: bold;
            color: $darken-blue;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
            font-size: 1.5rem;
        }
        .username {
            font-size: 1rem;
        }
        .job-title {
            margin-bottom: 0;
            text-transform: capitalize;
        }
        p {
            margin-bottom: 0;
            .fas {
                color: $darken-blue;
                width: 16px;
            }
        }
        .media-links {
            margin-top: 0.5rem;
            display: flex;
            width: 60%;
            justify-content: space-between;
            align-items: center;
            .fab {
            font-size: 3rem;
            }
            .fa-facebook-square {
                color: #3b5998;
            }
            .fa-twitter-square {
                color: #00acee;
            }   
            .fa-linkedin {
                color: #0e76a8;
            }
            .instagram {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                text-align: center;
                border-radius: 0.8rem;
                font-size: 2rem !important;
                color: #fff;
                line-height: 2rem;
                vertical-align: middle;
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%,
                #fdf497 0%, #fdf497 5%, 
                #fd5949 45%, #d6249f 60%, #285AEB 90% );
                box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
            }
        }
    }
}


.blog-img {
    height: 17rem;
    border-radius: inherit;
    border-bottom: 1px solid $darken-blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.blog-category {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.card {
    width: 93%;
    margin: auto;
    border: 1px solid $darken-blue;
    .card-title {
        color: $darken-blue;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
    }
    .card-text {
        flex: 2;
        font-size: 1rem;
    }
    .user-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}


@media (max-width: 800px) {
    .media {
        flex-direction: column;
        align-items: center;
        .img-user {
            display: block;
            margin: 0 auto 1rem auto;
        }
        .media-body {
            letter-spacing: 0.5px;
            margin-bottom: 1rem ;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            padding-left: 2.3rem;
            .media-links {
                width: 70%;
            }
        }
    }
    .heading {
        font-size: 1.1rem;
    }
    .blog-img {
        height: 16rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        .card-title {
            color: $darken-blue;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
            font-size: 1.1rem;
        }
        .card-text {
            flex: 2;
            font-size: 0.7rem;
        }
        .blog-img {
            height: 14rem;
        }
    }
    .media {
        .media-body {
            .media-links {
                width: 50%;
            }
        }
    }
}

.blog-posts {
    width: 90% ;
    .read-more {
        background: $darken-blue !important;
        color: #fff;
        border: none;
        outline: none;
        padding: 0.5rem 1.5rem;
        border-radius: 0.2rem;
        border-color: $darken-blue;  
    }
}

.heading {
    text-align: center;
    text-transform: uppercase;
    color: $darken-blue;
    font-weight: bold;
    margin-bottom: 4rem;
}

@media (max-width: 600px){
    .media-links {
            width: 90% !important;
            justify-content: space-between !important;
        }

}
